{{!< default}}

<div id="latest-post" class="container">
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
</div>

<div id="post-index" class="container">
    <ol class="post-list">
        {{> loop}}
    </ol>

    <div class="post-navigation">
        {{pagination}}
    </div>
</div>
